input {
	position: absolute;
	justify-content: space-around;
	width:  80px;
	height: 70px;
	border-radius: 20px;
	border: 1.6px solid;
} #n1 {
	left: 300px;
} button  {
	position: absolute;
	top: 110px;
	left: 117px;
	height: 30px;
	background-color: #6affa2;
	border: 1.8px solid #0098ff;
	border-radius: 25px;
} h2 {
	position: absolute;
	top: 160px;
	left: 170px;
} body {
    justify-content: center;
}
h1 {
    position: absolute;
    left: 185px;
}
